{{define "body"}}
<div class="container-fluid">
  <div id="header" class="row pt-3">
    <div class="col-md-6 col-xs-12">
      <h3>StuStaNet Print Admin</h3>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group pull-right">
        <input type="text" id="input-search" class="search form-control" placeholder="Search...">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table id="job-table" class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
        <tr>
          <th scope="col">PIN</th>
          <th scope="col">B/W</th>
          <th scope="col">Duplex</th>
          <th scope="col">Format</th>
          <th scope="col">Pages</th>
          <th scope="col">Sheets</th>
          <th scope="col">Price</th>
          <th scope="col">Copies</th>
          <th scope="col">Total</th>
          <th scope="col">Created</th>
          <th scope="col">Error</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{range .Jobs}}
          <tr>
            <td>{{.Pin}}</td>
            <td>{{if .BW}}&#x2713;{{else}}&#x2717;{{end}}</td>
            <td>{{.Duplex}}</td>
            <td>{{.Format}}</td>
            <td>{{.Pages}}</td>
            <td>{{.Sheets}}</td>
            <td>{{.Price}}</td>
            <td>{{.Copies}}</td>
            <td>{{.Total}}</td>
            <td>{{.Created.Format "2006-01-02 15:04:05" }}</td>
            <td>{{.Err }}</td>
            <td>
              <button class="btn btn-outline-success" onclick="openModal('{{.Pin}}', '{{.Price}}', '{{.Format}}')">
                <img src="/assets/img/print.png" alt="Print"/>
              </button>
            </td>
          </tr>
        {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-print" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Print Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="input-disabled-pin">Pin</label>
            <input type="text" class="form-control" id="input-disabled-pin" value="" disabled readonly>
          </div>
          <div class="form-group">
            <label for="input-disabled-price">Price</label>
            <input type="text" class="form-control" id="input-disabled-price" value="" disabled readonly>
          </div>
          <div class="form-group">
            <label for="input-printer">Printer</label>
            <select class="form-control" id="input-printer">
                {{range .Printers}}
                  <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
          </div>
          <div class="form-group">
            <label for="input-format">Format</label>
            <select class="form-control" id="input-format">
                {{range .FormatOptions}}
                  <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
          </div>
          <div class="form-group">
            <label class="form-check-label" for="input-internal">Internal Print</label>
            <input class="form-check-inline" type="checkbox" id="input-internal">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" onclick="print()">Print</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{end}}