<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Print Jobs</title>
  <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
<table>
  <thead>
  <tr>
    <th>PIN</th>
    <th>B/W</th>
    <th>Duplex</th>
    <th>Pages</th>
    <th>Sheets</th>
    <th>Price</th>
    <th>Copies</th>
    <th>Total</th>
    <th>Date</th>
    <th>Error</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{range .jobs}}
    <tr>
      <td>{{.Pin}}</td>
      <td>{{.BW}}</td>
      <td>{{.Duplex}}</td>
      <td>{{.Pages}}</td>
      <td>{{.Sheets}}</td>
      <td>{{.Price}}</td>
      <td>{{.Copies}}</td>
      <td>{{.Pin}}</td>
      <td>{{.Date}}</td>
      <td>{{.Error}}</td>
      <td><button class=\"print\" onclick="print('{{.Pin}}', '{{.Price}}')"><img src="/assets/img/print.png" alt="Print" /></button>
    </tr>
  {{end}}
  </tbody>
</table>

<script src="assets/js/admin.js"></script>
</body>
</html>