[Unit]
Description=Print Upload Interface

[Service]
ExecStart=/usr/local/bin/print
WorkingDirectory=/var/www/print
NonBlocking=true
User=www-print
Group=www-print
Restart=always
Sockets=www-print-http.socket www-print-https.socket
