body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
  	font-weight: 400;
	color: #3b3b3b;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 0;
	margin: 0;
	padding: 0.75em;
	text-align: right;
	text-align: center;
	/* width: 6.25% */
}

thead th {
	vertical-align: middle;
	background: #3169BC;
	color: #FFF;
	font-weight: bold;
	line-height: 1.5em;
	font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif;
}

tbody tr:nth-of-type(even) {
	background: #F5F5F5;
}

tbody tr:hover {
	background: #D4D8FF;
}

button.print {
	margin: -4px 0;
	cursor: pointer;
}

button.print img {
	margin-top: 4px;
}

.btn {
	border: none;
	padding: 6px 12px;
}

.btn-danger {
    background-color: darkred;
	color: white;
}

.btn-danger:hover {

}

.btn-success {
	background-color: #5cb85c;
	color: white;
}

.btn-success:hover {

}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
	padding: 10px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 6px 16px;
	display: inline-block;
}

/* The Close Button */
.modal-close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@keyframes animatetop {
	from {opacity: 0}
	to {opacity: 1}
}
