package main

import (
	"time"
)

// Cups Config
const (
	printer = "HP_Color_LaserJet_CP3525"
	lpPath  = "/usr/bin/lp"
)

// File Uploads
const (
	uploadPath   = "/var/www/print/upload/"
	pruneUploads = time.Hour * 24 * 7
)

// Postgres DB
const dsn = "postgres://gutenberg:wow_much_secure@localhost/gutenberg"
