{
  "printers": [
    {
      "name": "Hackerspace: Monster",
      "host": "knecht.stusta.de",
      "instance": "monster",
      "colorBWoption": "Gray",
      "optionsA3": ["InputSlot=PF730B"]
    }
  ],
  "lpPath": "/usr/bin/lpr",
  "uploadPath": "/var/www/print/upload/",
  "pruneUploads": 36288000,
  "dsn": "postgres://gutenberg:password@localhost/gutenberg"
}
