package main

import (
	"time"
)

const (
	// Our cost for black toner is about 140 € for 10500 pages based on 5% toner
	// usage; this means 0.013 € for a 5% covered page.
	// We will use 0.015 € instead, to earn some extra $$$ :)
	// Therefore, price per 1% page coverage:
	priceBlack = 0.003

	// Our cost for color toner (same for all colors) is about 190 € for 7000
	// pages based on 5% toner usage; this means 0.0271 € for a 5% covered page.
	// We will use 0.040 € instead, since it seems like the printer uses
	// slightly more toner than calculated.
	// Therefore, price per 1% page coverage:
	priceColor = 0.008

	// additional cost per page for the fuser and waste toner
	priceFuser = 0.002

	// price per sheet of paper
	priceSheet = 0.008
)

// DSN for Postgres DB
const dsn = "postgres://gutenberg:incredible_hard_to_guess@localhost/gutenberg"

// Max Upload Filesize
const MaxFileSize = 20 * 1024 * 1024

const hostDE = "drucken.stusta.de"
const hostEN = "print.stusta.de"

// Office Hours JSON URL
const (
	officeHoursURL    = "https://sprechstunden.stusta.mhn.de/appointments.json"
	officeHoursMaxAge = 3 * time.Hour
)
