{
  "priceBlack": 0.003,
  "priceColor": 0.008,
  "priceFuser": 0.002,
  "priceSheet": 0.008,
  "dsn": "postgres://gutenberg:password@localhost/gutenberg",
  "uploadPath": "/var/www/print/upload/",
  "maxFileSize": 20971520,
  "hostDE": "drucken.stusta.de",
  "hostEN": "print.stusta.de",
  "tlsPrivKey": "/etc/ssl/gutenberg.stusta.mhn.de/private.key",
  "tlsCert": "/etc/ssl/gutenberg.stusta.mhn.de/active/fullchainfile",
  "haspaStatusURL": "https://hackerspace.stusta.de/current.json",
  "haspaStatusMaxAge": 60, // seconds
  "officeHoursURL": "https://sprechstunden.stusta.mhn.de/appointments.json",
  "officeHoursMaxAge": 10800 // seconds
}